spring:
  application:
    name: USER-SERVICE
  datasource:
    url: jdbc:postgresql://localhost:5432/UserServiceNew
    username: postgres
    password: Whadmp@123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    format_sql: true
server:
  port: 8081
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  mail:
    host: smtp.gmail.com
    port: 587
    username: karlebn19.comp@coeptech.ac.in
    password: Whadmp@123
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


